.search-btn{
  margin-top: 6px;
  color: white;
}
.search-btn:hover{
  color: orange;
  cursor: pointer;
}
.item{
  display: none;
}
.caraousel-posisiton{
  height: 620px;
  margin-bottom: 150px;
}
.craousel-img{
  height: 670px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
